html {
  position: relative;
  min-height: 100%;
}

body {
  background: #eee !important;
  margin-bottom: 30px;
}

.nav .nav-link {
  color: rgb(175, 175, 175);
}

.container.body {
  margin-top: 3%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

ul.nostyle {
  list-style-type: none;
}

*[data-toggle="tooltip"] {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container.body {
    width: 50%;
  }

  form.restrict-width {
    width: 40%;
  }
}